body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #a4a0ab;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 0;
}

.form-box {
    width: 300px;
    margin: 0 auto 60px auto;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.form-box h2 {
	margin-bottom: 30px;
	color: #333;
	text-align: center;
}
.form-box input, .form-box textarea, .form-box select {
    width: 92%;
    padding: 8px;
    margin: 10px 0;
}
.form-box input[type="submit"] {
   background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.form-box input[type="submit"]:hover {
    background: linear-gradient(to right, #92fe9d, #00c9ff);
}