body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background:#f1f1f1;
	color: Black;
	overflow-x: hidden;
}

#product-section{
	position: relative;
    margin: 100px 0 50px 0;
	padding-top: 10px
}

h2{
	text-align: center;
	margin-bottom: 25px
}

fom{
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
	padding: 0 40px 40px 50px;
}

/* Single product card */
.product-card {
	width: 220px;
	background: #ffffff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease;
	padding: 10px;
}

.product-card:hover {
	transform: translateY(-5px);
}

.product-card img {
	width: 100%;
	height: 160px;
	object-fit: contain;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.product-info {
	text-align: center;
	margin-bottom: 8px;
}

.product-info h4 {
	font-size: 1.1rem;
	margin: 4px 0;
}

.product-info p {
	font-size: 0.9rem;
	color: #444;
	margin: 2px 0;
	font-weight: bold;
}

/* Buttons inside the card */
.product-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 10px;
	padding: 0 5px;
}

.btn-remove {
	background-color: #dc3545;
	color: white;
	padding: 6px 10px;
	border-radius: 4px;
	font-size: 0.75rem;
	text-decoration: none;
	transition: 0.3s ease;
}

.btn-remove:hover {
	background-color: #a91e2c;
}

.checkbox-label {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 0.8rem;
	color: black;
	cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
	accent-color: green;
	width: 20px;
	height: 20px;
}

/* Buy Now button at bottom */
.btn-buy {
	background-color: #ff6f00;
    color: white;
    padding: 15px 26px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
    right: 35px;
    bottom: 133px;
}

.btn-buy:hover {
	background-color: #cc5900;
}
