body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: #a4a0ab;
	display: flex;
	flex-direction: column;
	color : #291a4e;
	overflow-x: hidden;
}

.main{
	height : 100vh;		
}
.table{
/*	height : 50vh; */
	width : 100vw;	
}
